version: '1.0'

services:
  rabbitmq:
    image: rabbitmq:4-management
    ports:
      - "5672:5672"
      - "15672:15672"
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_storage:/qdrant/storage

  api:
    build: ./api
    ports:
      - "8000:8000"
    depends_on:
      - rabbitmq
      - qdrant

  worker:
    build: ./worker
    deploy:
      replicas: 2  
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    depends_on:
      - rabbitmq
      - qdrant
volumes:
  qdrant_storage: